@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-revogreen: #0D3928;
  --color-revolime: #C1DE36;
  --color-revo-gradient: linear-gradient(to right, #fff 50%, #C1DE36 50%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.container-small {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {

  .container,
  .container-small {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {

  .container,
  .container-small {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
  }

  .container {
    width: 92.666667%;
  }

  .container-small {
    width: 77.3333%;
  }
}


.bg-half {
  background: linear-gradient(to right, #fff 50%, #C1DE36 50%);
}

.bg-half-2 {
  background: linear-gradient(to bottom, #0D3928, #ffffff00);
}

.green-bg::before {
  content: "";
  @apply absolute top-0 w-[calc(100%+2rem)] -translate-x-4 md:translate-x-0 -translate-y-20 md:translate-y-0 md:left-1/2 bg-revolime md:w-[50vw] h-screen -z-10;
}